apiVersion: k8s.cni.cncf.io/v1
kind: NetworkAttachmentDefinition
metadata:
  name: bgp-transit
  namespace: bsv-mcast
spec:
  config: |
    {
      "cniVersion": "0.3.1",
      "type": "macvlan",
      "master": "${BGP_TRANSIT_IFACE}",
      "mode": "bridge",
      "ipam": { "type": "static" }
    }
